.boxInfoCuenta{
    background-color: white;
    box-shadow: var(--sombra1);
    border-radius: var(--radiusPrimario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;  
}
.boxInfoCuenta span{
    font-size: 1.3rem;
}