.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('src/img/fondo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }

.form {
    width: 90%;
}

.divBtnForm {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .form {
        width: 80%;
    }

}