.boxUser{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxUser img{
    width: 80px;
    border-radius: 100%;
}
.boxUser span{
    font-weight: 700;
}