.contNav {
  width: 100%;
  background-color: var(--secundario);
  margin: auto;
  padding: 1rem 1rem;
  justify-content: space-between;
  transition: all .5s;
}
.nav{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #441AEC, #e5e5f7), repeating-radial-gradient(circle at center center, #441AEC, #441AEC, 20px, transparent 40px, transparent 20px);
  background-blend-mode: multiply;
  padding: .5rem;

  border-radius: var(--radiusPrimario);
}

.linkItem {
  background-color: var(--blanco);
    border-radius: var(--radiusPrimario);
    padding:5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--primario);
}
.boxUserNav span{
  margin-left: -5px;
}
.btnMenu{
  display: none;
}
.bar1, .bar2, .bar3 {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 100%;
  margin: 6px auto;
  transition: all .5s;
  background-color: #ffffff;
}
/* para que se transforme en X*/
.open .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
@media screen and (max-width: 700px) {
  .boxResponsive{
    display: flex;
    flex-direction: column;
  }
  .contNav{
    display: flex;
    justify-content:space-between;
    transition: all .5s;
  }
  .nav{
    display: none;
  }
  .contNav.active{
    flex-direction: column;
    transition: all .5s;
  }
  .contNav.active .nav{
    display: block;
    transition: all .5s;
    width: 100%;
  }
  .contNav.active .nav .navList{
    flex-direction: column;
    transition: all .5s;
    width: 100%;
  }
  .contNav.active .nav .navList li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contNav.active .nav .navList li .linkItem{
    width: 70%;
  }
  .btnMenu{
    display: block;
  }
  .contNav.active .btnMenu{
    position: absolute;
    right: 15px;
  }
.boxUserNav img{
    display: none;
  }
  }
  