.contNav {
  width: 100%;
  background-color: #ffffff;
  margin: auto;
  padding: .3rem 1rem;
  justify-content: space-between;
  transition: all .5s;
}
.navList {
  list-style: none;
}

.linkItem {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px;
  background-color: var(--primario);
  transition: background-color 0.3s;
}
.linkItem:hover {
  background-color: #ffffff;
  color:var(--primario);

}
.boxUserNav span{
  margin-left: -5px;
}
.btnMenu{
  display: none;
}
.bar1, .bar2, .bar3 {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 100px;
  margin: 6px auto;
  transition: 0.4s;
  background-color: #000000;
}
/* para que se transforme en X*/
.open .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
@media screen and (max-width: 700px) {
  .boxResponsive{
    display: flex;
    flex-direction: column;
  }
  .btnMenu{
    display: block;
    position: absolute;
    top: 13px;
    right:20px;
  }
  .contNav{
    display: flex;
    justify-content: center;
  }
  nav{
    display: none;
  }
  .boxUserNav{
    display: none;
  }
  }
  