.form{
    width: auto;
    background-color:rgb(255, 255, 255);
    box-shadow: var(--sombra1);
    border-radius: var(--radiusPrimario);
    padding: .5rem;
}
.form h1{
    text-align: center;
    font-size: 2rem;
}
.divBtnForm{
    display: flex;
    justify-content: center;
}
.divBtnForm button{
    background-color: var(--primario);
    color:var(--letraBotones);;
    border-radius: var(--radiusPrimario);
}
.myLink{
    width: 100%;
    text-align: center;
    text-decoration:underline;
}
.myLink:hover{
    color: var(--primario);
}