@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------------------- */
:root {
  --primario: #59a900;

  --blanco: rgb(255, 255, 255);
  --gradi-violeta: linear-gradient(to bottom, #ffffff, #d4c9f4, #af93e5, #8f5ad0, #7209b7);
  --gradi-verde: linear-gradient(to top, #39a900, #4db520, #5fc234, #70ce45, #81db56, #90e269, #9fea7a, #aef18c, #bef4a3, #cef7b9, #defacf, #edfde5);
  --gradi-amarillo: linear-gradient(to top, #f6ff26, #f7ff55, #f9ff76, #faff92, #fbffad);
  --gradi-amarillo2: linear-gradient(to top, #f3fd11, #f5fe4e, #f7fe72, #f9ff91, #fbffad);
  --modo-noche: rgb(0, 2, 20);
  --clr-gris: rgba(206, 206, 206, 0.61);

  --sombra1: -2px 3px 4px 0px #dadada85;
  --sombra2: -2px 3px 4px 0px rgba(0, 0, 0, 0.301);
  --sombra-solida: 0px 2px 0px 0px #dadada85;
  --fondo-footer: rgba(153, 153, 153, 0.76);

  --textoGrande: 3rem;
  --textoNormal:1rem: 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: var(--gradi-amarillo2);

}
&::-webkit-scrollbar {
  width: 10px;
}

&::-webkit-scrollbar-track {
  background-color: #eceef2;
  border-radius: 180px;
}

&::-webkit-scrollbar-thumb {
  background-color: var(--primario);
  border-radius: 180px;
}
/* estilo para contenedores de botones */
.box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.tituloPagina{
  text-align: center;
  font-size: 2rem;
}

.resaltar{
  font-weight: 600;
}
.my-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: .5rem;
  transition: background-color 0.3s ease;
}
.button-clr-rojo {
  background-color: red;
}
.button-clr-azul {
  background-color: blue;
}
.button-clr-verde{
  background-color: #39a900;
}
.button-clr-morado{
  background-color: blueviolet;
}
a:hover{
  color: rgb(255, 255, 255);
}