@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------------------- */
:root {
  --primario:  #7700ff;
  --verde: #40ff00;

  --blanco: rgb(255, 255, 255);
  --gradi-violeta: linear-gradient(to bottom, #ffffff, #d4c9f4, #af93e5, #8f5ad0, #7209b7);
  --gradi-verde: linear-gradient(to top, #39a900, #4db520, #5fc234, #70ce45, #81db56, #90e269, #9fea7a, #aef18c, #bef4a3, #cef7b9, #defacf, #edfde5);
  --gradi: linear-gradient(to bottom, #051937, #142258, #362777, #612390, #9200a1);
  --modo-noche: rgb(0, 2, 20);
  --clr-gris: rgba(206, 206, 206, 0.61);

  --sombra1: -2px 3px 4px 0px rgba(0, 0, 0, 0.301);
  --sombra2: -2px 3px 4px 0px rgba(0, 0, 0, 0.301);
  --sombra-solida: 0px 2px 0px 0px #dadada85;
  --fondo-footer: rgba(153, 153, 153, 0.76);

  --textoGrande: 3rem;
  --textoNormal:1rem: 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  --color: rgba(102, 90, 90, 0.3);
  background-color: #2827298f;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  /* background-image: var(--gradi);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija el fondo */
  /* background-position: center; */
}

&::-webkit-scrollbar {
  width: 10px;
}

&::-webkit-scrollbar-track {
  background-color: #eceef2;
  border-radius: 180px;
}

&::-webkit-scrollbar-thumb {
  background-color: var(--primario);
  border-radius: 180px;
}
/* estilo para contenedores de botones */
.box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.tituloPagina{
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.contedorFlex{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: space-between;
}
.resaltar{
  font-weight: 600;
}
.my-button {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.button-clr-rojo {
  background-color: red;
}
.button-clr-azul {
  background-color: blue;
}
.button-clr-verde{
  background-color: #39a900;
}
.button-clr-morado{
  background-color: blueviolet;
}
a:hover{
  color: rgb(255, 255, 255);
}