@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------------------- */
:root {
  --primario: rgb(29 78 216);
  --secundario: #eeeef2;
  --navAndFooter: #ffffff;

  --fondoTrasparente:rgba(255, 255, 255, 0.094);
  --letraBotones: white;
  --radiusPrimario: 1.5rem;

  --blanco: rgb(255, 255, 255);
  --sombra1:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --sombraNav: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100%;
  background-color: var(--blanco);
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
&::-webkit-scrollbar {
  width: 10px;
}

&::-webkit-scrollbar-track {
  background-color: #eceef2;
  border-radius: 180px;
}

&::-webkit-scrollbar-thumb {
  background-color: var(--primario);
  border-radius: 180px;
}
.tituloPagina{
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.my_button {
  border: none;
  border-radius: var(--radiusPrimario);
  cursor: pointer;
}
