form{
    width: 400px;
    background-color: var(--blanco);
    border-radius: 15px;
    padding: .5rem;
}
form h1{
    text-align: center;
}
.control{
    margin-bottom: 1rem;
}
.control input{
    width: 100%;
    background-color: var(--gris);
    border-radius: 10px;
    padding: 5px;
}
.divBtnForm{
    display: flex;
    justify-content: center;
}
.divBtnForm button{
    background-color: var(--primario);
    color: var(--blanco);
}