.productoCard{
    background-color: #1d09d04d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}
.productoCard img{
    width: 250px;
    aspect-ratio: 5/3;
    margin: auto;
}
.botonAgregar{
    background-color: var(--verde);
}