.categoriaSlider_container {
    width: 90%;
    margin: 0 auto;
  }
  
  .categoriaSlider {
    text-align: center;
    padding: 20px;
  }
  
  .categoriaSlider img {
    max-width: 60%;
    height: auto;
    margin: auto; 
    margin-bottom: 10px;
  }
  
  .categoriaSlider h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .categoriaSlider p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .categoriaSlider button {
    background-color:var(--primario);
    color: var(--letraBotones);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  } 
  @media screen and (max-width: 700px) {
    .categoriaSlider h2 {
      font-size: 1rem;
      margin-bottom: 10px;
    }
    .categoriaSlider p {
      font-size: .7rem;

    }
    .categoriaSlider button {
      font-size: .6em;
      padding: 5px 10px;
    }
    .categoriaSlider img {
      max-width: 100%;
      height: auto;
      margin: auto; 
      margin-bottom: 10px;
    }
  }