
.productoCard {
    width: 200px;
   background-color: var(--fondoTrasparente);
   border-radius: var(--radiusPrimario);
    padding: 20px;
  }
  
  .productoCard img {
    max-width: 100%;
    border-radius: var(--radiusPrimario);
  }
  
  .productoCard h1 {
    font-size: 1.5em;
  }
  
  .productoCard p {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
  }
  
  .botonAgregar {
    background-color: rgb(47, 47, 255);
    color: var(--letraBotones);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }