
.productoCard {
  width: 200px;
  min-width: 200px;
  min-height: 200px;
  background-color: rgb(242, 242, 242);
  border-radius: var(--radiusPrimario);
  padding: 20px;
}

.productoCard img {
  max-width: 100%;
  border-radius: var(--radiusPrimario);
}

.productoCard h1 {
  font-size: 1.1em;
}

.productoCard p {
  font-size: 1em;
  color: rgb(238, 122, 60);
  font-weight: 600;
}

.botonAgregar {
  background-color: var(--primario);
  color: var(--letraBotones);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .botonAgregar {
   font-size: .8rem;
  }

}
